@use "variable" as v;
@use "common" as c;
/*************************************************
アニメーション
*************************************************/
.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.active {
  opacity: 1;
  transform: translateY(0);
}

.transition-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 998;
}

.transition-panel {
  position: absolute;
  height: 100%;
  width: 20vw;
  background: #fff;
  transform: scaleY(0);
}
.panel1 {
  left: 0%;
}
.panel2 {
  left: 20%;
}
.panel3 {
  left: 40%;
}
.panel4 {
  left: 60%;
}
.panel5 {
  left: 80%;
}
