@use "variable" as v;
@use "common" as c;
/*************************************************
footer
*************************************************/
footer {
  position: relative;
  z-index: 21;
  background-color: #0a0a0a;
  padding: 3.2rem v.pxtovw(40) 1.3rem;
  .logo {
    width: 31rem;
    @include c.mq() {
      width: 12.5rem;
      margin-bottom: 6.5rem;
    }
  }
  nav {
    margin-bottom: 2.5rem;
    @include c.mq() {
      display: none;
    }
    ul {
      justify-content: flex-end;
      gap: 2rem;
      li {
        a {
          font-family: v.$font-config;
          font-variation-settings: "slnt" 0, "wdth" 100, "wght" 300;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .footer-bottom {
    padding-top: 2rem;
    border-top: 0.5px solid #3c3c3c;
    align-items: center;
    justify-content: flex-end;
    gap: 2.8rem;
    @include c.mq() {
      flex-direction: column;
      gap: 5px;
      align-items: end;
    }
    p {
      font-size: 1rem;
      small {
        font-size: 1.1rem;
        @include c.mq() {
          font-size: 1.4rem;
        }
      }
    }
  }
}
