@use "variable" as v;
@use "common" as c;
/*************************************************
header
*************************************************/
header {
  position: fixed;
  width: 100%;
  padding-left: v.pxtovw(40);
  z-index: 999;
  .header-inner {
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 10rem;
    margin-top: 1rem;
    @include c.mq() {
      width: 7.5rem;
      margin-top: 0;
    }
  }
  .lang-wrap {
    background-color: #fff;
    width: 9.6rem;
    height: 5.2rem;
  }
}

//ハンバーガーボタン
.hamberger-wrap {
  width: 7.6rem;
  height: 5.2rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-ham-open {
    .hambager {
      .c-line {
        &:first-of-type {
          animation: line1-open var(--navTransition) forwards;
          @include c.mq() {
            width: 3rem;
            left: 1rem;
          }
        }
        &:nth-of-type(2) {
          animation: line2-open var(--navTransition) forwards;
        }
        &:last-of-type {
          width: 4rem;
          animation: line3-open var(--navTransition) forwards;
          @include c.mq() {
            width: 3rem;
          }
        }
      }
    }
  }
}
.hambager-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --navTransition: 0.4s;
}
.hambager {
  width: 4rem;
  height: 1.8rem;
  position: relative;
  display: block;
  cursor: pointer;
  .c-line {
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    @include c.mq(sm) {
      width: 100%;
      background-color: #fff;
    }
    &:first-of-type {
      top: 0;
      animation: line1 var(--navTransition) forwards;
    }
    &:nth-of-type(2) {
      width: 2.5rem;
      top: 50%;
      left: auto;
      animation: line2 var(--navTransition) forwards;
    }
    &:last-of-type {
      width: 2.5rem;
      top: 100%;
      left: auto;
      animation: line3 var(--navTransition) forwards;
    }
  }
}

@keyframes line1 {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 0;
  }
}
@keyframes line1-open {
  0% {
    transform: rotate(0);
    top: 0;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes line2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line2-open {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes line3 {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 100%;
  }
}
@keyframes line3-open {
  0% {
    transform: rotate(0);
    top: 100%;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.mega-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100svh;
  padding-top: 13rem;
  background-color: v.$bg-color01;
  overflow: scroll;
  opacity: 0;
  transition: all 0.3s;
  z-index: 0;
  @include c.mq() {
    padding-top: 10rem;
  }
  &.is-megamenu-open {
    z-index: 998;
    opacity: 1;
  }
  .inner {
    position: relative;
    z-index: 20;
  }
  p {
    &:has(small) {
      text-align: end;
      @include c.mq() {
        text-align: center;
      }
    }
  }
  .access {
    position: absolute;
    top: 8rem;
    right: 0;
    @include c.mq() {
      position: static;
      margin-bottom: 6rem;
    }
    div {
      font-size: 2rem;
    }
    p {
      margin-bottom: 1rem;
      @include c.mq() {
        line-height: 1.5;
      }
    }
    a {
      display: flex;
      gap: 5px;
      align-items: center;
      text-decoration: underline;
    }
  }
  .xbp-lo_bg {
    width: v.pxtovw(872);
    position: absolute;
    top: 30rem;
    right: -16rem;
    @include c.mq() {
      width: v.pxtovw_sp(120);
      top: 8rem;
      right: 1.5rem;
    }
  }
  .nav-area {
    margin-bottom: 6rem;
    @include c.mq() {
      margin-bottom: 4rem;
    }
    nav {
      ul {
        max-width: 65rem;
        li {
          margin-bottom: 1.5rem;
          @include c.mq() {
            margin-bottom: 1rem;
          }
          &:first-of-type {
            margin-bottom: 2rem;
            a {
              font-size: 5rem;
              color: #0a0a0a;
              text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff;
              border-bottom: 1px solid #fff;
              @include c.mq() {
                font-size: 3.2rem;
              }
            }
          }
          a {
            display: flex;
            align-items: center;
            gap: 5rem;
            font-family: v.$font-config;
            font-size: 4.8rem;
            line-height: 1.7;
            font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500;
            transition: all 0.3s;
            @include c.mq() {
              font-size: 3.2rem;
              justify-content: space-between;
            }
            svg {
              rotate: 90deg;
              .circle-s {
                stroke: #fff;
              }
              .arrow-f {
                fill: #fff;
              }
            }
          }
          .little-nav {
            display: flex;
            column-gap: 5rem;
            row-gap: 1rem;
            flex-wrap: wrap;
            padding-left: 2.5rem;
            margin-bottom: 2rem;
            @include c.mq() {
              column-gap: 4rem;
            }
            div {
              position: relative;
              &::before {
                content: "";
                width: 1px;
                height: 2.5rem;
                background-color: #fff;
                rotate: 20deg;
                position: absolute;
                top: 3px;
                right: -2.5rem;
                @include c.mq() {
                  height: 1.5rem;
                  right: -1.8rem;
                }
              }
              a {
                font-size: 2rem;
                @include c.mq() {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
    .right {
      nav {
        ul {
          &:first-of-type {
            margin-bottom: 13.3rem;
            @include c.mq() {
              margin-bottom: 2rem;
            }
          }
          &:nth-of-type(2) {
            li {
              margin-bottom: 2rem;
              @include c.mq() {
                margin-bottom: 1rem;
              }
              a {
                font-size: 1.5rem;
                @include c.mq() {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .tel-contact {
    padding: 1rem 0 1.4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    @include c.mq() {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 4rem;
    }
    a {
      font-size: 3rem;
    }
  }
}
